/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 25px;
}

.button {
  margin: 15px 0px;
}

/* Grid Elements */
.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 2px solid #b8b8b8;
}

.grid-element {
  border: 1px solid #d8d8d8;
}

/* Media Queries */
@media (max-width: 550px) {
  .grid-container {
    width: 300px;
    height: 300px;
  }
}