@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin Sketch', cursive;
}

.heading {
  margin-top: 25px;
  font-size: 60px;
}

.buttons {
  display: flex;
}

.button {
  margin: 15px 5px;
  border: 0;
  background-color: #df0000;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 3px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #bb0000;
}

/* Grid Elements */
.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 2px solid #b8b8b8;
}

.grid-element {
  border: 1px solid #d8d8d8;
}

/* Media Queries */
@media (max-width: 550px) {
  .heading {
    font-size: 35px;
  }

  .grid-container {
    width: 300px;
    height: 300px;
  }
}